@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:ital,wght@0,400;0,600;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:ital,wght@0,400;0,600;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:ital,wght@0,400;0,600;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:ital,wght@0,400;0,600;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:ital,wght@0,400;0,600;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Math:wght@400&display=swap');
@font-face {
  font-family: 'Fira Sans';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('./assets/fonts/FiraSansRegular.ttf') format('ttf');
}
@font-face {
  font-family: 'Fira Sans';
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  src: url('./assets/fonts/FiraSansItalic.ttf') format('ttf');
}
@font-face {
  font-family: 'Fira Sans';
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url('./assets/fonts/FiraSansMedium.ttf') format('ttf');
}
@font-face {
  font-family: 'Fira Sans';
  font-weight: bold;
  font-style: italic;
  font-display: swap;
  src: url('./assets/fonts/FiraSansMediumItalic.ttf') format('ttf');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: bold;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-SemiBold.woff2') format('woff2');
}

::-webkit-scrollbar{
  display: none;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  color: #303133;
  font-family: 'Noto Sans', 'Fira Sans', 'Pretendard',
  'Noto Sans KR', 'Noto Sans TC', 'Noto Sans JP', 'Noto Sans SC', 'Noto Sans HK', 'Noto Sans Math';
  line-height: 1.5;
}

nav{
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #DADEE6;
  background-color: #FFFFFF;
}

#logo{
  display: flex;
  justify-content: center;
  margin-left: 20px;
  height: 100%;
}

#logo img{
  width: 20px;
}

#search{
  box-sizing: border-box;
  display: block;
  margin: 0;
  padding: 10px 20px;
  width: 160px;
  height: 100%;
  border: none;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

#search::placeholder{
  color: #8A8F99;
}

#searchlist{
  box-sizing: border-box;
  position: fixed;
  top: 40px;
  right: 0;
  padding: 10px 20px;
  min-width: 160px;
  width: max-content;
  border: 1px solid #DADEE6;
  background-color: #FFFFFF;
}

#content{
  box-sizing: border-box;
  margin: 40px auto 0;
  padding: 20px;
  width: 80%;
}

h2, h3, h4{
  scroll-margin-top: 60px;
}

a{
  color: #1896D2;
  text-decoration: none;
}

blockquote{
  box-sizing: border-box;
  margin: 24px 0;
  padding: 12px 24px;
  max-width: 100%;
  width: max-content;
  border-radius: 6px;
  border: 1px solid #DADEE6;
  color: #5C5F66;
  box-shadow: 0 4px 8px 0 #DADEE640;
}

blockquote p{
  margin: 0;
}

ul{
  margin: 0;
  padding-left: 32px;
}

.toc{
  user-select: none;
  margin: 24px 0;
  padding: 12px 24px;
  width: max-content;
  min-width: 180px;
  border-radius: 6px;
  border: 1px solid #DADEE6;
}

.toc details summary{
  font-size: 18px;
  color: #5C5F66;
}

.toc details[open] summary{
  margin-bottom: 8px;
  color: inherit;
}

.toc details summary::marker{
  font-size: 0;
}

details:has(h2, h3){
  margin: 24px 0;
}

summary:has(h2, h3){
  list-style-type: none;
}

summary:has(h2, h3)::marker{
  font-size: 0;
}

summary h2, summary h3{
  margin: 0;
  color: #5C5F66;
}

details[open]>summary>h2, details[open]>summary>h3{
  color: inherit;
}

.table-container{
  margin: 24px 0;
  width: 100%;
  overflow-x: auto;
}

.table-border{
  width: max-content;
  border-radius: 6px;
  border: 1px solid #DADEE6;
  overflow: clip;
}

table{
  width: max-content;
  border-collapse: collapse;
  font-size: inherit;
}

th, td{
  padding: 8px 16px;
  min-width: 16px;
  height: 32px;
  box-shadow: -1px 0 0 0 #DADEE6,
              0 -1px 0 0 #DADEE6;
}

th{
  background-color: #F7F9FC;
}

.info{
  box-sizing: border-box;
  margin: 12px 0;
  padding: 8px 16px;
  border: 1px solid #DADEE6;
  max-width: max(320px, calc(100% - 40px));
  width: max-content;
  font-size: 14px;
}

.info p{
  margin: 0;
}

.footnotes-sep{
  margin: 64px 0 32px;
  border: 1px solid #DADEE6;
}

@media (max-width: 768px){
  #content{
    width: calc(100% - 20px);
  }

  th, td{
    max-width: 160px;
  }
}
