@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');
@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-SemiBold.woff2') format('woff2');
}

::-webkit-scrollbar{
  display: none;
}

body{
  margin: 0;
  color: #303133;
  font-family: 'Noto Sans', 'Pretendard';
  line-height: 1.5;
}

nav{
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #DADEE6;
  background-color: #FFFFFF;
}

#logo{
  display: flex;
  justify-content: center;
  margin-left: 20px;
  height: 100%;
}

#logo img{
  width: 20px;
}

#search{
  box-sizing: border-box;
  display: block;
  margin: 0;
  padding: 10px 20px;
  width: 160px;
  height: 100%;
  border: none;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

#search::placeholder{
  color: #8A8F99;
}

#searchlist{
  box-sizing: border-box;
  position: fixed;
  top: 40px;
  right: 0;
  padding: 10px 20px;
  width: 160px;
  border: 1px solid #DADEE6;
  background-color: #FFFFFF;
}

#content{
  box-sizing: border-box;
  margin: 40px auto 0;
  padding: 20px;
  width: max(360px, 80%);
}

a{
  color: #1896D2;
  text-decoration: none;
}

blockquote{
  margin: 24px 0;
  padding: 10px 20px;
  width: max-content;
  border-radius: 5px;
  border: 1px solid #DADEE6;
  color: #5C5F66;
}

blockquote p{
  margin: 0;
}

.table-container{
  margin: 24px 0;
  padding-right: 8px;
  width: 100%;
  overflow-x: auto;
}

table{
  width: max-content;
  border-collapse: collapse;
  font-size: inherit;
}

th, td{
  padding: 8px 16px;
  min-width: 16px;
  height: 32px;
  border: 1px solid #DADEE6;
}

th{
  background-color: #F7F9FC;
}

.info{
  box-sizing: border-box;
  padding: 8px 16px;
  border: 1px solid #DADEE6;
  width: max-content;
  max-width: max(320px, calc(100% - 40px));
  font-size: 14px;
}

.info p{
  margin: 0;
}

.footnotes-sep{
  margin: 64px 0 32px;
  border: 1px solid #DADEE6;
}

@media (max-width: 768px){
  th, td{
    max-width: 160px;
  }
}